*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  font-family: times new roman;
 
}
  
.container{
	.row{
		text-align: center;
		.logo{
			a{
				font-size: 30px;
				color: #000;
			}
			p{
				font-size: 10px;
			}
		}
		.requst{
			margin-top: 5px;
			
			.phone{
				margin: -48px 10px;
				position: absolute;
				float: left;
				background: #fff;
				width: 50px;
				height: 50px;
				border: 1px solid #000;
				border-radius: 25px;
				span{
					font-size: 40px;
					
				}
			}
			.consultant{
						padding: 2px 25px;
						margin: 12px 30px; 
						position: relative;
						border: 1px solid #000;
						span{
						font-size: 14px;
						}
				}

		}
		.contact{
			margin-top: 5px;
			span{
				float: left;
			}
			a{
				float: right;
			}
			form{
				input{
				width: 100%;
				}
			}
		}
	}
}

.container{
	.navbar-default{
		padding: 0px;
	}
	.navbar{
		margin: 10px auto;
		.collapse{
			.main_menu{
				li{
					border-left: 1px solid #000;
					border-right: none;
					border-color: #e7e7e7;
					padding: 0px 17px;
					&:first-child{
						border-left: none;
					}
					a{
						text-transform: uppercase;
						font-weight: bold;
						color: #000;
					}
				}
			}
		}
	}
}
.container{
	.content{
		text-align: justify;
		border: 1px solid #000;
		margin: 30px auto;
		img{
			margin: 15px 15px 15px auto;
		}
		.title{
			h2{
				float: left;

			}
			a{
				margin: 30px 20px;
			}
		}
	}

}
.footer{
	border-top: 2px solid black;
	margin-top: 30px;
	.row{
		margin-top: 20px;
		text-align: left;
		ul{
			list-style-type: none;
			li{
				line-height: 1.5;
				&:first-child{
					text-transform: uppercase;
					font-size: 16px;
					font-weight: bold;
				}
				a{
					text-decoration: none;
					color: #000;
				}
			}
		}
		.contact_phone{
			overflow: hidden;
			li{

				float: left;
				a{
					margin: 1px;
					span{
						font-size: 30px;
					}
				}
			}
		}
		.contact_mail{
			overflow: hidden;
			li{

				float: left;
				a{
					margin: 1px;
					span{
						font-size: 30px;
					}
				}
		}	}
	}
}
.zagolovok{
	
	h2{
		text-align: left;
	}
}

.container{
	.row{
		.advantage{
			margin: 5px;
			border: 1px solid #000;
			h4{
				text-align: left;
			}
			span{
				text-align: left;
			}
		}
	}
	.garantiya{
		img{
			width: 100%;
		}
		.arrow{
			font-size: 150px;
		}
		form{
			border: 1px solid black;
			input{
				width: 95%;
				margin: 5px;
				padding: 10px;
			}
			button{
				font-size: 16px;
				text-transform: uppercase;
				width: 95%;
				background: red;
				padding: 5px;
				margin: 10px auto;
			}
		}
	}
}
.footer{
	.row{
		.dropdown{
			button{

				margin: 5px auto;
				width: 100%;
				background: grey;	
			}
			.dropdown-menu{
				margin:0 auto;
				li{
					&:first-child{
						text-transform: none;
					}
				}
			}
		}
	}
}






@media only screen and (min-width: 992px) and (max-width: 1200px){
	.container{
		.row{
			.requst{
				margin-top: 8px;
				.phone{
					margin: -48px 5px;
				}
					
				.consultant{
					margin: 12px 15px;
					span{
					font-size: 12px;
					}
				}
			}
		}
	}
	.container{
		.navbar{
			.collapse{
				.main_menu{
					li{
						padding: 0px 4px;
					}
				}
			}
		}
	}

}
@media only screen and (min-width: 768px) and (max-width: 992px){
	.container{
		.row{
			.requst{
				margin-top: 8px;
				.phone{
					width: 40px;
					height: 40px;
					border-radius: 20px;
					margin: -42px -10px;
					span{
						font-size: 30px;
					}
				}
					
				.consultant{
					padding: 2px 0px;
					margin: 13px 20px;
					span{
					font-size: 10px;

					}
				}
			}
		}
	}
	.container{
		.navbar{
			.collapse{
				.main_menu{
					li{
						padding: 0px 0px;
						a{
							font-size: 10px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 320px) and (max-width: 370px){
	.container{
		.row{
			.requst{
				margin-top: 8px;
				.phone{
					width: 40px;
					height: 40px;
					border-radius: 20px;
					margin: -42px -10px;
					span{
						font-size: 30px;
					}
				}
					
				.consultant{
					padding: 2px 0px;
					margin: 13px 20px;
					span{
					font-size: 10px;

					}
				}
			}
		}
	}
}
@media only screen and (min-width: 320px) and (max-width: 390px){
	.container{
	.content{
		border: 1px solid #000;
		margin: 30px auto;
		img{
			margin: 5px 5px 5px auto;
		}
		.title{
			h2{
				float: left;

			}
			a{
				margin: 30px 5px;
			}
		}
	}

}
}
@media only screen and (min-width: 320px) and (max-width: 344px){
	.container{
	.content{
		border: 1px solid #000;
		margin: 30px auto;
		img{
			margin: 5px 5px 5px auto;
		}
		.title{
			h2{
				float: left;

			}
			a{
				margin: 5px;
			}
		}
	}

}
}